:root {
  --black: #444;
  --white: white;
  --dark-grey: #828282;
  --light-grey: #E0E0E0;
  --red: #EB5757;
  --green: #27AE60;
  --yellow: #F2C94C;
  --blue: #2D9CDB;
}

#root * {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.gameboard {
  border: 2px solid var(--black);
  border-radius: 5px;

  display: grid;
}

.turns,
.secret-code {
  padding: 10px;
  display: grid;
  grid-auto-rows: auto;
}

.rack {
  padding: 5px;

  border: 2px solid var(--white);
  border-radius: 5px;
  
  display: grid;
  grid-template-columns: 208px 54px 54px;
  grid-template-rows: 54px;
  grid-gap: 12px;
}

.rack.playing {
  border-color: var(--black);
}

.rack > div {
  border: 2px solid var(--black);
  border-radius: 5px;
}

.rack.empty > div {
  border-color: var(--light-grey);
}

.code-pegs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.peg {
  margin: 8px;
  border-radius: 50%;
}

.peg.R {
  background: var(--red);
}

.peg.G {
  background: var(--green);
}

.peg.B {
  background: var(--blue);
}

.peg.Y {
  background: var(--yellow);
}

.rack.playing .peg.x,
.secret-code .peg.x {
  background: var(--light-grey);
  font-family: monospace;
  font-size: x-large;
  display: grid;
  place-items: center;
}

.end-turn {
  display: grid;
  place-items: center;

  font-size: x-large;
  font-weight: bold;
  color: var(--black);
}

.key-pegs {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.key-pegs > div {
  margin: 5px;
  background-color: var(--light-grey);
  border-radius: 50%;
}

.key-pegs > div.b {
  background-color: var(--black);
  border: 2px solid var(--black);
}

.key-pegs > div.w {
  background-color: var(--white);
  border: 2px solid var(--black);
}

.button.primary {
  background: var(--white);
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: 5px;
  padding: 12px 18px;

  font-family: serif;
  font-size: x-large;
  font-weight: bold;

  cursor: pointer;
}

.button.primary:hover {
  background: var(--light-grey);
}

.modal {
  display: grid;
  position: absolute;
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.modal > h3 {
  text-align: center;
  padding: 10px;

}

.modal.code-pegs {
  width: 215px;
  height: 54px;
}

.modal:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  bottom: 56px;
  left: 87px;
  border: 20px solid transparent;
  border-bottom-color: var(--black);
}
